@use 'variables' as v;
@use 'media-screen' as ms;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1rem v.$font-stack;
  color: v.$dark-text-color;
}
button{
  cursor: pointer;
  font-size: 1rem;
}
input{
  font-size: 1rem;
}
.wrapper {
  @include ms.desktop {
    max-width: calc(1200px);
    margin: 0 auto !important;
  }

  padding: 20px;


  .title-section {
    text-align: center;
    margin-bottom: 20px;
    position: relative;

    h2 {
      width: max-content;
      margin: auto;
      padding: 0 5px;
      background-color: v.$light-text-color;

      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        background-color: v.$dark-text-color;
        width: 100%;
        height: 3px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

//--- HEADER Section---
header {
  @include ms.tablet {
    height: 30vh;
  }

  height: 50vh;

  .header-title {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 20px;
  }

  .wrapper.header {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 20px;
      -webkit-box-shadow: 0px 0px 10px -2px rgba(66, 68, 90, 1);
      -moz-box-shadow: 0px 0px 10px -2px rgba(66, 68, 90, 1);
      box-shadow: 0px 0px 10px -2px rgba(66, 68, 90, 1);
      border-radius: 10px;

      .header-description {
        padding-bottom: 20px;

        h2 {
          font-size: 1.5rem;
          padding-bottom: 5px;
        }
      }

      .search-from {
        @include ms.tablet {
          display: flex;

          form {
            display: flex;
            flex-direction: column;
            width: 100%;
            .content{
              @include ms.tablet {
                display: flex;
                width: 100%;
              }
              .select-container,
              .button-container {
                @include ms.tablet {
                  width: 100%;
                  padding-bottom: 0;
                }
              }
            }
            .filters{
              padding-top: 10px;
              .button-container{
                padding: 0;
              }
              button{
                width: max-content;
              }
            }

          }
        }

        width: 100%;

        .select-container {
          padding-bottom: 8px;
        }

        .button-container {
          text-align: center;
          padding-bottom: 8px;
          button {
            padding: 10px 20px;
            width: 100%;
            height: 100%;
            font-weight: 600;
            color: v.$light-text-color;
            background-color: v.$general-color;
            border: none;
            border-radius: 6px;
          }
        }

        .clearFilter {
          button {
            background-color: v.$light-text-color;
            color: v.$general-color;
          }
        }


      }

    }
  }
}

.inputBox {
  display: flex;
  padding-bottom: 5px;

  .inputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    &:last-child {
      margin-left: 5px;
    }

    input {
      border: none;
      border-radius: 6px;
      padding: 10px;

    }
  }
}

//--- ABOUT Section---
.wrapper.about {
  .boxSection {
    padding-bottom: 40px;

    .imgWrapper {
      text-align: center;
      padding-bottom: 10px;

      .img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        position: relative;
        width: 168px;
        height: 168px;

        &:before {
          content: '';
          z-index: -1;
          position: absolute;
          background-color: hsl(0, 0%, 90%);
          border-radius: 50%;
          width: 100%;
          height: 100%;
        }
      }

    }
  }
}

//--- CITY Section---
.wrapper.cities {
  .information-section {
    @include ms.tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
      // grid-row-gap: 20px;
    }

    display: grid;
    grid-template-columns: 1fr;

    .city {
      padding-bottom: 20px;


      .city-picture {
        position: relative;
        overflow: hidden;

        .city-name {
          position: absolute;
          padding: 10px;
          font-weight: 600;
          color: v.$light-text-color;
          text-shadow: 2px 2px 5px v.$dark-text-color;
        }
        button{
          border: none;
          padding: 0;
          background-color: transparent;
          transition: transform .2s ease;
          img {
            width: 100%;
            max-height: 600px;
            aspect-ratio: 2;
          }
          &:hover{
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

//--- NAV Section---
nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  .backArrow {
    svg {
      color: v.$dark-text-color;
    }
  }
}

.settings {
  button {
    background-color: v.$light-text-color;
    color: black;
  }
}

//--- OFFERS Section---
.wrapper.offers {
  .offers-count {
    padding-bottom: 10px;

    p {
      font-weight: 600;
    }
  }
  .offers-container{
    
    .offer {
      display: flex;
      flex-direction: row;
      padding: 10px 0;
      border-bottom: 1px solid v.$dark-text-color;
      &:first-child{
        border-top: 1px solid hsl(0deg, 0%, 20%);
      }
      
      .offerImg {
        width: 30%;
  
        img {
          width: 100%;
          height: 100%;
        }
      }
  
      .offerBox {
        width: 70%;
        padding-left: 10px;
  
        .title {
          overflow: hidden;
          white-space: nowrap;
  
          p {
            font-weight: 600;
          }
        }
  
        .description {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
  }
}