@use 'variables' as v;
@use 'media-screen' as ms;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1.2rem v.$font-stack;
  color: v.$dark-text-color;
}

.wrapper {
  @include ms.desktop {
    max-width: calc(1200px);
    margin: 0 auto !important;
  }

  padding: 20px;


  .titleSection {
    text-align: center;
    margin-bottom: 20px;
    position: relative;

    h2 {
      width: max-content;
      margin: auto;
      padding: 0 5px;
      background-color: v.$light-text-color;

      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        background-color: v.$dark-text-color;
        width: 100%;
        height: 3px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

button {
  padding: 10px 20px;
  width: 100%;
  font-weight: 600;
  font-size: 1.2rem;
  color: v.$light-text-color;
  background-color: v.$aditional-color;
  border: none;
  border-radius: 6px;
}

header {
  height: 50vh;
  background-color: v.$general-color;
  color: v.$light-text-color;

  .headerTitle {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .wrapper.header {
    display: flex;
    flex-direction: column;
    height: 100%;

    .headerBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      height: 100%;

      .headerDescription {
        padding-bottom: 20px;
      }

      .searchFrom {
        width: 100%;


        .select {
          padding-bottom: 5px;
        }

        .button {
          text-align: center;
        }
      }

    }
  }
}

.wrapper.about {
  .boxSection {
    padding-bottom: 40px;

    .imgWrapper {
      text-align: center;
      padding-bottom: 10px;

      .img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        position: relative;
        width: 168px;
        height: 168px;

        &:before {
          content: '';
          z-index: -1;
          position: absolute;
          background-color: hsl(0, 0%, 90%);
          border-radius: 50%;
          width: 100%;
          height: 100%;
        }
      }

    }
  }
}

.wrapper.cities {
  .informationSection {
    @include ms.tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
      // grid-row-gap: 20px;
    }

    display: grid;
    grid-template-columns: 1fr;

    .city {
      padding-bottom: 20px;


      .cityPicture {
        position: relative;

        .cityName {
          position: absolute;
          padding: 10px;
          font-weight: 600;
          font-size: 1.2em;
          color: v.$light-text-color;
          text-shadow: 2px 2px 5px v.$dark-text-color;
        }

        img {
          width: 100%;
          aspect-ratio: 2;
        }
      }
    }
  }
}

nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  .backArrow {
    svg {
      color: v.$light-text-color;
    }
  }
}