$font-stack: sans-serif;

$text-color-dark: hsl(0, 0%, 20%);
$text-color-gray: hsl(0, 0%, 45%);
$text-color-light: hsl(0, 0%, 100%);

$primary-color: hsl(216, 60%, 45%);
$primary-color-55: hsl(216, 60%, 55%);
$aditional-color: hsl(150, 100%, 40%);