$font-stack: sans-serif;

$dark-text-color: hsl(0, 0%, 20%);
$light-text-color: hsl(0, 0%, 100%);
$general-color: hsl(216, 60%, 45%);
$aditional-color: hsl(150, 100%, 40%);
$aditional-color2: hsl(150, 100%, 40%);