$font-stack: sans-serif;

$dark-text-color: hsl(0, 0%, 20%);
$light-text-color: hsl(0, 0%, 100%);
$general-color: hsl(216, 60%, 45%);
$aditional-color: hsl(150, 100%, 40%);
$aditional-color2: hsl(150, 100%, 40%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1.2rem $font-stack;
  color: $dark-text-color;
}

.wrapper {
  padding: 20px;
  overflow: hidden;

  .titleSection {
    text-align: center;
    margin-bottom: 20px;
    position: relative;

    h2 {
      width: max-content;
      margin: auto;
      padding: 0 5px;
      background-color: $light-text-color;

      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        background-color: $dark-text-color;
        width: 100%;
        height: 3px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

button {
  padding: 10px 20px;
  width: 100%;
  font-weight: 600;
  font-size: 1.2rem;
  color: $light-text-color;
  background-color: $aditional-color;
  border: none;
  border-radius: 6px;
}

header {
  height: 50vh;
  background-color: $general-color;
  color: $light-text-color;

  .headerTitle {
    font-size: 1.4rem;
  }

  .wrapper.header {
    display: flex;
    flex-direction: column;
    height: 100%;

    .headerBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      height: 100%;

      .headerDescription {
        padding-bottom: 20px;
      }

      .searchFrom {
        width: 100%;


        .select {
          padding-bottom: 5px;
        }

        .button {
          text-align: center;
        }
      }

    }
  }
}

.wrapper.about {
  .boxSection {
    padding-bottom: 40px;

    .imgWrapper {
      text-align: center;
      padding-bottom: 10px;

      .img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        position: relative;
        width: 168px;
        height: 168px;

        &:before {
          content: '';
          z-index: -1;
          position: absolute;
          background-color: hsl(0, 0%, 90%);
          border-radius: 50%;
          width: 100%;
          height: 100%;
        }
      }

    }
  }
}

.wrapper.cities {
  .informationSection {
    display: flex;
    flex-direction: column;

    .city {
      padding-bottom: 20px;

      .cityPicture {
        position: relative;

        .cityName {
          position: absolute;
          padding: 10px;
          font-weight: 600;
          font-size: 1.2em;
          color: $light-text-color;
          text-shadow: 2px 2px 5px $dark-text-color;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}

nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  .backArrow {
    svg {
      color: $light-text-color;
    }
  }
}