$font-stack: sans-serif;
$dark-text-color: hsl(0, 0%, 0%);
$light-text-color: hsl(0, 0%, 100%);
$general-color: hsl(216, 60%, 45%);
$aditional-color: hsl(150, 100%, 40%);
// $general-color: hsl(216, 70%, 45%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1.2rem $font-stack;
  color: $dark-text-color;
}

.wrapper {
  padding: 20px;
  overflow: hidden;

  .titleSection {
    text-align: center;
    padding-bottom: 20px;
  }
}

button {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 1rem;
  color: $aditional-color;
  background-color: transparent;
  border: 4px solid $aditional-color;
  border-left: 4px solid transparent;
  border-top: 4px solid transparent;
}

header {
  height: 60vh;
  background-color: $general-color;
  color: $light-text-color;

  .headerTitle {
    font-size: 1.4rem;
  }

  .wrapper.header {
    display: flex;
    flex-direction: column;
    height: 100%;

    .headerBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      .headerDescription {
        padding-bottom: 40px;
      }

      .searchFrom {
        width: 100%;


        .select {
          padding-bottom: 10px;
        }

        .button {
          text-align: center;
        }
      }

    }
  }
}

.wrapper.about {
  .boxSection {
    padding-bottom: 20px;
  }
}

.wrapper.offers {
  .informationSection {
    display: flex;
    flex-direction: column;

    .city {
      padding-bottom: 20px;

      .cityPicture {
        position: relative;

        .cityName {
          position: absolute;
          padding: 10px;
          font-weight: 600;
          font-size: 1.2em;
          color: $light-text-color;
          text-shadow: 2px 2px 5px $dark-text-color;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}